<div class="container mt-3" >
    <div class="d-flex justify-content-center mt-5">
            <h1 class="titulo countQuestion" >{{getSeconds()}}</h1>
    </div>
    <div class="mt-2">
        <div class="text-center">
            <h3 class="titulo">Cual es la capital de Chile</h3>
            <div class="col-lg-6 offset-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">Lima</li>
                    
                    <li class="list-group-item">Peru</li>
                    
                    <li class="list-group-item classSeleccionada">Santiago</li>
                    
                    <li class="list-group-item ">Buenos Aires</li>
                </ul>
                <button class="btn-principal btn-aceptar mt-3">Aceptar</button>
            </div>
        </div>
    </div>
</div>