<div class="container mt-5">
    <div *ngIf="loading" class="d-flex justify-content-center mt-5">
        <app-spiner></app-spiner>
    </div>
    <div class="row"  *ngIf="!loading">
    
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar contrsaeña</h3>
                    <form  [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                                  <input type="text" formControlName="user" class="form-control form-control-lg" placeholder="Ingrese su correo" >
                                        <div class="text-danger" *ngIf="recuperarForm.get('user')?.hasError('required') &&recuperarForm.get('user')?.touched">
                                            El correo es <strong>obligatorio</strong>
                                        </div>
                                        <div class="text-danger"
                                        *ngIf="recuperarForm.get('user')?.hasError('email') &&recuperarForm.get('user')?.touched">
                                            Correo <strong>invalido</strong>
                                        </div>
                            </div>
                        <button class="btn btn-secondary btn-lg" routerLink="/usuario"  >Volver</button>
                        <button class="btn btn-primary btn-lg btn-lg float-end " type="submit">Aceptar</button>
                    </form>
                   
                </div>

            </div>

        </div>

    </div>
</div>