<div class="container mt-5">

    <div class="row">
    
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar contrsaeña</h3>
                    <form  [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword">
                        <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Ingrese su correo" >
                        </div>
                        <button class="btn btn-secondary btn-lg" routerLink="/usuario"  >Volver</button>
                        <button class="btn btn-primary btn-lg btn-lg float-end " type="submit">Aceptar</button>
                    </form>
                   
                </div>

            </div>

        </div>

    </div>
</div>